<mat-card>
    <mat-form-field>
        <mat-label>Task Title</mat-label>
        <input matInput [(ngModel)]="task.title" />
    </mat-form-field>
     <mat-form-field>
        <mat-label>Task Description</mat-label>
        <input matInput [(ngModel)]="task.description" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select [(ngModel)]="task.priority">
            <mat-option *ngFor="let priority of priorities" [value]="priority" [ngClass]="'priority-' + priority.toLowerCase()">{{ priority }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Due Date</mat-label>
        <input matInput type="date" [(ngModel)]="task.dueDate" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="createTask()">Add Task</button>
    <button mat-raised-button color="warn" (click)="resetForm()">Clear</button>
</mat-card>